@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
	--primary-light: #ddd;
	--primary-dark: #222831;
	--secondary-dark: #393e46;
	--secondary-dark-hover: #4a4f57;
	--secondary-dark-active: #5b5f68;
	--header: #111720;
	--primary-yellow: #fac650;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-dark);
	color: var(--primary-light);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	line-height: 1.6;
	overflow: hidden;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* HEADER */

.header {
	display: flex;
	justify-content: center;
	padding: 40px 0;
	background-color: var(--header);
	width: 100%;
}

.title {
	color: var(--primary-yellow);
	font-family: "VT323", monospace;
	font-size: 60px;
	font-weight: 400;
}

/* MAIN */

.main {
	margin-top: 40px;
	text-align: center;
	flex: 1;
}

.scoreboard {
	margin-bottom: 15px;
}

.score-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px;
}

.score-box {
	width: 170px;
}

.score {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: bold;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.btn {
	width: 180px;
	height: 180px;
	font-size: 80px;
	border-radius: 10px;
	background-color: var(--secondary-dark);
}

.btn:hover {
	background-color: var(--secondary-dark-hover);
}

.btn:active {
	background-color: var(--secondary-dark-active);
}

.sign {
	font-size: 80px;
	margin-bottom: 10px;
}

/* FOOTER */

.footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	min-height: 50px;
	width: 100%;
	gap: 10px;
	font-size: 20px;
}

.footer .fa-github:visited {
	text-decoration: none;
	color: inherit;
	transition: all 1s ease-in-out;
}

.fa-github {
	color: var(--primary-light);
	font-size: 24px;
	transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
}

/* MODAL */

.modal {
	--gap: 15px;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: var(--gap);
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.modal__inner {
	background-color: var(--primary-dark);
	width: 100%;
	max-width: 300px;
	overflow: hidden;
	border-radius: 8px;
	height: 100%;
	max-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal__title {
	padding: 0 var(--gap);
	font-size: 40px;
	margin-bottom: 30px;
	font-weight: 800;
}

.modal__close.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 60px;
	font-size: 25px;
}